@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CreateUserPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Web.Mvc.Html

@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="main-banner fullscreen-banner cover" style="background-image:url('@Model.Content.ContentImage.Url')">
    <div class="image-overlay"></div>
    <div class="banner-content">
        <div class="user-area">
            <h1>User area</h1>
            @if (!Members.IsLoggedIn())
            {
                <div class="user-forms">
                    <div class="login-user" data-login-form>
                        <h4>@Model.Content.Headline</h4>
                        @Html.Partial("_CreateForm")
                        <a class="btn-style" href="/login-page/">Or Login</a>
                    </div>
                </div>
            }
            else
            {
                <h4>Du er logget ind</h4>
            }
        </div>
    </div>
</div>