@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.LoginPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Shared/_Layout.cshtml";
    if (IsPost)
    {
        if (Request["username"] != null)
        {
            var un = Request["username"];
            var pw = Request["password"];
            if (Members.Login(un, pw))
            {
                Response.Redirect("/user-area/");
                //Response.Redirect("/Frontpage/");
            }
        }
    }
}

<div class="main-banner fullscreen-banner cover" style="background-image:url('@Model.Content.ContentImage.Url')">
    <div class="image-overlay"></div>
    <div class="banner-content">
        <div class="user-area">
            <h1>User area</h1>
            @if (!Members.IsLoggedIn())
            {
                <div class="user-forms">
                    <div class="login-user" data-login-form>
                        <h4>Please login</h4>
                        <form action="" method="post">
                            <input type="text" name="username" placeholder="Username" required />
                            <input type="password" name="password" placeholder="Password" required />
                            <button type="submit" class="main-link green-btn">Login or die</button>
                        </form>
                        <span data-go-create>Or create a user</span>
                    </div>
                    <div class="create-user" data-create-form>
                        <h4>Create user</h4>
                        @Html.Partial("_CreateUser")
                        <span data-go-login>Go back</span>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>
