@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.LoginPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System.Web.Mvc.Html
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers


@{
    Layout = "Shared/_Layout.cshtml";
    

}

<div class="main-banner fullscreen-banner cover" style="background-image:url('@Model.Content.LoginImage.Url')">
    <div class="image-overlay"></div>
    <div class="banner-content">
        <div class="user-area">
            @if (!Members.IsLoggedIn())
            {
                <div class="user-forms">
                    <div class="login-user" data-login-form>
                        <h4>Please login</h4>
                       @Html.Partial("_LoginForm")

                        <span data-go-create>Or create a user</span>
                    </div>
                </div>
            }
            else
            {
                <h4>You are now logged in</h4>
            }
        </div>
    </div>
</div>
