@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SpeakerItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<div class="container">
    <p>@Model.Content.Headline</p>
</div>

@Html.Partial("_SpeakerSchedule")