@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Speakerspage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}


<div>
    <ul>
        @{
            foreach (var speaker in Model.Content.Children<SpeakerItem>())
            {
                <p><a href="@speaker.Url">@speaker.Headline</a></p>
            }
        }
    </ul>
</div>
