@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SpeakerItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<div class="container">
    <div class="row">
        <h1>@Model.Content.Headline</h1>
        <img src="@(Model.Content.ContentImage != null ? Model.Content.ContentImage.Url : "http://via.placeholder.com/350/350")?height=350"/>
    </div>
   
</div>



@Html.Partial("_SpeakerSchedule")