@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
}

<h1>Test template</h1>

<button class="main-link" id="btn">Get cars</button><br />
<button class="main-link" data-btn>Hello</button><br />
<h2 data-headline></h2>
<ul class="list-unstyled" data-result></ul>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>

<script>
    $("#btn").click(function () {
        var resultList = $("[data-result]");

        resultList.html("");
        $.getJSON("/Umbraco/Api/Test/GetCars", function (result) {
            $.each(result, function (i, field) {
                resultList.append('<li>' + field.Name + '<span>' + field.Doors + '</span></li>');
            });
        });
    });

    $("[data-btn]").click(function () {
        var getHeadline = $("[data-headline]");
        getHeadline.html("");
        $.getJSON("/Umbraco/Api/Test/Hello", function (results) {
            getHeadline.html(results);
        });
    });
</script>