@import "../Helpers/Mixins";
@import "../Helpers/Vars";

.item a {
}

.program-header {
    position: relative;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #545454;
    margin-bottom: 15px;
}

.program-header a {
    display: block;
    width: 100%;
    color: #ff4053;
    font-size: 3rem;
    font-weight: 700;
}

.program-header a:after {
    content: '×';
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 90%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    transition: 0.25s all ease;
}

.program-header a[aria-expanded^="false"]:after {
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
}

.program-header a[aria-expanded^="true"]:after {
    -webkit-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
}

.item .container-fluid .row:first-of-type p {
    font-weight: 700;
    font-size: 16px;
}

.item .container-fluid .row:nth-child(even) {
    background-color: #fcfbe6;
}

.item .container-fluid .row div:first-of-type p {
    font-weight: 700;
    font-size: 16px;
}