@import "../Helpers/Mixins";
@import "../Helpers/Vars";

.speaker-size {


    .link-block-content {
        left: 10px;
        p, h3{
            text-align:left;
        }
    }

    .read-more {
        font-size: 0.95rem;
        left: 10px;
        right: 10px;
    }
}



