@import "../Helpers/Mixins";
@import "../Helpers/Vars";

.main-banner {
    position: relative;
    height: 60vh;

    &.alternativ-banner {
        height: 80vh;

        .banner-content {
            @include center;
            top: 40%;
            height: 170px;
            width: 450px;

            a {
                position: absolute;
                bottom: -80px;
                width: 80%;
                margin: 0 10%;
            }
        }
    }

    &.fullscreen-banner {
        height: 100vh;

        .banner-content {
            @include center;
            top: 20%;
            width: 500px;

            .user-area {

                h1 {
                    margin-bottom: 15px;
                    margin-top: 0;
                    line-height: 1;
                }

                h4 {
                    color: white;
                    margin-bottom: 15px;
                }

                span {
                    color: white;
                    cursor: pointer;
                }

                .user-forms {
                    position: relative;
                    height: 100%;

                    .login-user, .create-user {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;

                        &.remove {
                            display: none;
                        }
                    }

                    .create-user {
                        display: none;

                        &.active {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .banner-content {
        @include center-y;
        z-index: 1;

        h1, p {
            text-align: left;
            color: white;
        }

        p {
            font-size: 1rem;
        }
    }
}

@include phones {
    .scroll-down {
        @include center-x;
        bottom: 25px;
        text-align: center;

        span {
            display: block;
            color: white;
            font-size: 14px;
            margin-bottom: 5px;
        }

        svg {
            fill: white;
            width: 20px;
            height: 20px;
        }
    }

    .main-banner {
        height: 40vh;

        &.alternativ-banner {
            height: 100vh;

            .banner-content {
                width: 270px;
                height: 190px;
                top: 48%;

                a {
                    bottom: 20px;
                }
            }
        }

        .banner-content {
            bottom: 20px;
            top: auto;
            left: 0;
            transform: none;
        }


        &.fullscreen-banner {

            .banner-content {
                left: 15px;
                right: 15px;
                transform: none;
                top: 80px;
                width: auto;

                .user-area {

                    h1 {
                        margin-bottom: 0;
                    }

                    h4 {
                        color: white;
                        margin-bottom: 15px;
                    }

                    span {
                        color: white;
                        cursor: pointer;
                    }

                    .user-forms {
                        position: relative;
                        height: 100%;

                        .login-user, .create-user {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;

                            &.remove {
                                display: none;
                            }
                        }

                        .create-user {
                            display: none;

                            &.active {
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .banner-content {
            @include center-y;
            z-index: 1;

            h1, p {
                text-align: left;
                color: white;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}
