@import "../Helpers/Mixins";
@import "../Helpers/Vars";
footer {
    background-color: $gray;
    padding: 25px 0;

    p {
        color: white;
        font-size: 0.7rem;
    }

    span, ul {
        display: inline-block;
    }

    span {
        color: $light-gray;
        font-size: 0.7rem;
    }

    ul {
        li {
            display: inline-block;
            margin: 0 5px;
            a {
                color: $light-gray;
                font-size: 0.7rem;
            }
        }
    }
}