<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT aboutPage ANY>
<!ATTLIST aboutPage id ID #REQUIRED>
<!ELEMENT frontpage ANY>
<!ATTLIST frontpage id ID #REQUIRED>
]>
<root id="-1">
  <frontpage id="1053" key="1208abde-d18f-4e2f-9c41-8889963e6c7f" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2017-11-12T18:54:19" updateDate="2017-11-13T10:00:00" nodeName="Frontpage" urlName="frontpage" path="-1,1053" isDoc="" nodeType="1052" creatorName="Group1" writerName="Group1" writerID="1" template="1051" nodeTypeAlias="frontpage">
    <bannerImage><![CDATA[umb://media/a2c09f783e7d4484957e0ea6f1a9c578]]></bannerImage>
    <bannerLink><![CDATA[umb://document/1208abded18f4e2f9c418889963e6c7f]]></bannerLink>
    <bodytext><![CDATA[Forside tekst ny]]></bodytext>
    <headline><![CDATA[Forside headline Azure]]></headline>
    <bannerSecondLink><![CDATA[umb://document/1208abded18f4e2f9c418889963e6c7f]]></bannerSecondLink>
    <aboutPage id="1056" key="098a66b6-c89e-4e38-b673-1e28723058c1" parentID="1053" level="2" creatorID="1" sortOrder="0" createDate="2017-11-13T09:48:48" updateDate="2017-11-13T09:48:48" nodeName="About page" urlName="about-page" path="-1,1053,1056" isDoc="" nodeType="1055" creatorName="Group1" writerName="Group1" writerID="1" template="1054" nodeTypeAlias="aboutPage">
      <bodytext><![CDATA[About text]]></bodytext>
      <headline><![CDATA[About headline]]></headline>
    </aboutPage>
  </frontpage>
</root>