<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT frontpage ANY>
<!ATTLIST frontpage id ID #REQUIRED>
]>
<root id="-1">
  <frontpage id="1053" key="1208abde-d18f-4e2f-9c41-8889963e6c7f" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2017-11-12T18:54:19" updateDate="2017-11-12T18:15:38" nodeName="Frontpage" urlName="frontpage" path="-1,1053" isDoc="" nodeType="1052" creatorName="Group1" writerName="Group1" writerID="1" template="1051" nodeTypeAlias="frontpage">
    <bodytext><![CDATA[Forside tekst ny]]></bodytext>
    <headline><![CDATA[Forside headline Azure]]></headline>
  </frontpage>
</root>