<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/520645da-8e9a-49d9-aa8f-75a10b07bfd8/resourcegroups/Codegarden2018Group1Group/providers/Microsoft.Web/sites/Codegarden2018Group1</ResourceId>
    <ResourceGroup>Codegarden2018Group1Group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://codegarden2018group1.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>codegarden2018group1.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Codegarden2018Group1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Group1</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="umbracoDbDSN" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:codegarden2018group1.database.windows.net,1433;Initial Catalog=Codegarden2018Group1DB;User ID=group1@codegarden2018group1;Password=Test!123" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:codegarden2018group1.database.windows.net,1433;Initial Catalog=Codegarden2018Group1DB;User ID=group1@codegarden2018group1;Password=Test!123" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\umbracoDbDSN_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:codegarden2018group1.database.windows.net,1433;Database=Codegarden2018Group1DB;User ID=group1@codegarden2018group1;Password='Test!123'" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="umbracoDbDSN-Web.config Connection String">
      <ParameterValue>Data Source=tcp:codegarden2018group1.database.windows.net,1433;Initial Catalog=Codegarden2018Group1DB;User ID=group1@codegarden2018group1;Password=Test!123</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>