@charset "UTF-8";
html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.2; }
  h1.white-format, h2.white-format, h3.white-format, h4.white-format, h5.white-format {
    color: white; }

h1 {
  color: white;
  font-size: 3.5rem; }

h2 {
  font-size: 3rem;
  color: #ff4053;
  margin-bottom: 30px; }

h3 {
  font-size: 2.5rem; }

h4 {
  font-size: 1.5rem;
  margin-bottom: 35px;
  font-weight: 500;
  line-height: 1.5; }

h5 {
  font-size: 1.75rem;
  color: #ff4053;
  margin: 15px 0; }

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 20px; }
  p img {
    width: 100%;
    margin: 30px 0; }

a {
  color: white;
  transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1); }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: white; }

ul li a {
  color: black; }

hr {
  border-top: 1px solid #9C9C9C; }

.hr-special {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent); }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.frontpage-sections h1, .frontpage-sections h2, .frontpage-sections h3, .frontpage-sections h4, .frontpage-sections p {
  text-align: center; }

.main-wrapper {
  position: relative;
  transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  transition-delay: 0.18s; }
  .main-wrapper.active {
    transform: translateX(-200px); }
    .main-wrapper.active .main-overlay {
      visibility: visible;
      opacity: 1; }

.vote-result h3 {
  font-size: 1.1rem; }

.vote-result span {
  display: block; }

.hashtag-section {
  margin: 25px 0; }
  .hashtag-section span {
    width: 100%;
    display: block;
    font-size: 2.2rem; }
  .hashtag-section span, .hashtag-section p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 2rem; }

.white-format h3, .white-format p {
  color: white; }

.custom-ul ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .custom-ul ul li {
    padding: 4px 0; }
    .custom-ul ul li:before {
      content: '';
      background-image: url("/Content/Img/Icons/icon.svg");
      width: 11px;
      height: 12px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle; }

@media only screen and (max-width: 767px) {
  html {
    font-size: 13px; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 28px; }
  .main-wrapper {
    transition-delay: 0.1s; }
  hr {
    margin-top: 18px;
    margin-bottom: 10px; }
  .frontpage-sections h1, .frontpage-sections h2, .frontpage-sections h3, .frontpage-sections h4, .frontpage-sections p {
    text-align: left; } }

.img-full-width {
  width: 100%; }

.container-fluid {
  padding: 0; }

a.main-link, button.main-link, span.main-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  width: 100%;
  background-color: transparent;
  border-radius: 3px;
  display: inline-block;
  padding: 12px 0;
  color: black;
  border: 1px solid #545454;
  text-align: center;
  margin-bottom: 15px;
  transition: 0.4s cubic-bezier(0.75, 0, 0.25, 1); }
  a.main-link:focus, a.main-link:active, button.main-link:focus, button.main-link:active, span.main-link:focus, span.main-link:active {
    outline: none; }
  a.main-link.green-btn, button.main-link.green-btn, span.main-link.green-btn {
    background-color: #39D18C;
    color: white;
    border: 1px solid #39D18C; }
    a.main-link.green-btn:hover, button.main-link.green-btn:hover, span.main-link.green-btn:hover {
      background-color: transparent;
      color: #39D18C;
      border: 1px solid #39D18C; }
  a.main-link:hover, button.main-link:hover, span.main-link:hover {
    background-color: #545454;
    color: white; }

a.nostyle-link, button.nostyle-link, span.nostyle-link {
  color: inherit; }

input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  border-radius: 3px;
  padding: 12px 0;
  text-align: center;
  margin-bottom: 15px;
  background-color: white;
  border: 1px solid black;
  width: 100%;
  color: #545454;
  transition: 0.4s cubic-bezier(0.75, 0, 0.25, 1); }
  input:focus, input:active {
    outline: none;
    box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.15); }

textarea {
  width: 100%; }

.votinglist input, .votinglist label {
  display: inline-block;
  margin-top: 25px; }
  .votinglist input[type=radio], .votinglist label[type=radio] {
    width: auto; }
    .votinglist input[type=radio]:focus, .votinglist input[type=radio]:active, .votinglist label[type=radio]:focus, .votinglist label[type=radio]:active {
      box-shadow: none; }

.main-banner {
  position: relative;
  height: 60vh; }
  .main-banner.frontpage-banner {
    height: 80vh; }
    .main-banner.frontpage-banner .banner-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 170px;
      width: 450px; }
      .main-banner.frontpage-banner .banner-content .banner-links {
        margin: 0 50px; }
        .main-banner.frontpage-banner .banner-content .banner-links a {
          margin-bottom: 15px; }
  .main-banner.fullscreen-banner {
    height: 100vh; }
    .main-banner.fullscreen-banner .banner-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      top: 20%;
      width: 500px; }
      .main-banner.fullscreen-banner .banner-content .user-area h1 {
        margin-bottom: 15px;
        margin-top: 0;
        line-height: 1; }
      .main-banner.fullscreen-banner .banner-content .user-area h4 {
        color: white;
        margin-bottom: 15px; }
      .main-banner.fullscreen-banner .banner-content .user-area span {
        color: white;
        cursor: pointer; }
      .main-banner.fullscreen-banner .banner-content .user-area .user-forms {
        position: relative;
        height: 100%; }
        .main-banner.fullscreen-banner .banner-content .user-area .user-forms .login-user, .main-banner.fullscreen-banner .banner-content .user-area .user-forms .create-user {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%; }
          .main-banner.fullscreen-banner .banner-content .user-area .user-forms .login-user.remove, .main-banner.fullscreen-banner .banner-content .user-area .user-forms .create-user.remove {
            display: none; }
        .main-banner.fullscreen-banner .banner-content .user-area .user-forms .create-user {
          display: none; }
          .main-banner.fullscreen-banner .banner-content .user-area .user-forms .create-user.active {
            display: block; }
  .main-banner .banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; }
    .main-banner .banner-content h1, .main-banner .banner-content p {
      text-align: left;
      color: white; }
    .main-banner .banner-content p {
      font-size: 1rem; }

@media only screen and (max-width: 767px) {
  .main-banner {
    height: 40vh; }
    .main-banner.frontpage-banner {
      height: 100vh; }
      .main-banner.frontpage-banner .banner-content {
        width: 270px;
        height: 190px; }
    .main-banner .banner-content {
      bottom: 20px;
      top: auto;
      left: 0;
      transform: none; } }

footer {
  background-color: #545454;
  padding: 25px 0; }
  footer p {
    color: white;
    font-size: 0.7rem;
    line-height: 1.5;
    margin: 0;
    text-align: left; }
  footer span, footer ul {
    display: inline-block; }
  footer span {
    color: #9C9C9C;
    font-size: 0.7rem; }
  footer ul li {
    display: inline-block;
    margin: 0 5px; }
    footer ul li a {
      color: #9C9C9C;
      font-size: 0.7rem; }

@media only screen and (max-width: 767px) {
  footer {
    padding: 18px 0; }
    footer ul {
      margin: 0; }
      footer ul li {
        display: inline-block;
        margin: 0 5px; }
        footer ul li a {
          font-size: 0.8rem; } }

header {
  z-index: 5; }
  header .logo-container {
    position: fixed;
    left: 50px;
    top: 50px;
    z-index: 5; }
    header .logo-container.change svg {
      fill: black; }
    header .logo-container svg {
      width: 120px;
      height: 58px;
      fill: white; }

.menu-icon-container, .profile-icon-container {
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
  width: 54px;
  height: 54px;
  z-index: 5;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #7f71cd;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1); }
  .menu-icon-container:hover, .profile-icon-container:hover {
    transform: scale(1.08); }
  .menu-icon-container.active, .profile-icon-container.active {
    background-color: white; }
    .menu-icon-container.active span.menu-icon, .profile-icon-container.active span.menu-icon {
      transform: rotate(45deg) translate(6px, 6px);
      background-color: #7f71cd; }
      .menu-icon-container.active span.menu-icon::before, .profile-icon-container.active span.menu-icon::before {
        opacity: 0; }
      .menu-icon-container.active span.menu-icon::after, .profile-icon-container.active span.menu-icon::after {
        transform: rotate(-90deg) translate(14px, 0px);
        background-color: #7f71cd; }
  .menu-icon-container span, .profile-icon-container span {
    padding: 15px 0;
    display: inline-block; }
    .menu-icon-container span.menu-icon, .profile-icon-container span.menu-icon {
      position: absolute;
      top: 0;
      background-color: white;
      width: 30px;
      height: 2px;
      padding: 0;
      transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
      margin: 19px 12px; }
      .menu-icon-container span.menu-icon::before, .menu-icon-container span.menu-icon::after, .profile-icon-container span.menu-icon::before, .profile-icon-container span.menu-icon::after {
        content: '';
        position: absolute;
        top: 7px;
        background-color: white;
        width: 30px;
        height: 2px;
        transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1); }
      .menu-icon-container span.menu-icon::after, .profile-icon-container span.menu-icon::after {
        top: 14px; }

.profile-icon-container {
  right: 120px;
  background-color: white;
  transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  z-index: 5; }
  .profile-icon-container.active {
    background-color: #7f71cd; }
    .profile-icon-container.active svg {
      fill: white; }
  .profile-icon-container svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: #7f71cd;
    width: 24px;
    height: 24px;
    -webkit-backface-visibility: hidden;
    transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1); }

.navigation-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #7f71cd;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  transition-delay: 0.2s;
  z-index: 4; }
  .navigation-container.active {
    transform: translateX(0);
    transition-delay: 0s; }
    .navigation-container.active nav ul li {
      transform: translateX(0);
      opacity: 1; }
  .navigation-container nav {
    position: relative;
    height: 100%;
    width: 100%; }
    .navigation-container nav ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      text-align: left; }
      .navigation-container nav ul li {
        transform: translateX(-10px);
        opacity: 0;
        transition-delay: 0.5s;
        transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1); }
        .navigation-container nav ul li.active a {
          font-family: 'Open Sans', sans-serif;
          font-weight: 700; }
        .navigation-container nav ul li a {
          font-family: 'Open Sans', sans-serif;
          font-weight: 300;
          color: white;
          font-size: 1.1rem;
          display: block;
          margin: 15px 0;
          transition: 0.4s cubic-bezier(0.75, 0, 0.25, 1); }
          .navigation-container nav ul li a::before {
            content: '';
            display: inline-block;
            height: 2px;
            width: 0;
            background-color: white;
            transition: 0.4s cubic-bezier(0.75, 0, 0.25, 1);
            margin-right: 5px;
            vertical-align: middle; }
          .navigation-container nav ul li a:hover::before {
            width: 15px; }

@media only screen and (max-width: 767px) {
  .menu-icon-container {
    top: 15px;
    right: 15px;
    width: 39.6px;
    height: 39.6px; }
    .menu-icon-container:hover {
      transform: scale(1); }
    .menu-icon-container.active span.menu-icon {
      transform: rotate(45deg) translate(3px, 4px); }
      .menu-icon-container.active span.menu-icon::after {
        transform: rotate(-90deg) translate(11px, 0px); }
    .menu-icon-container span.menu-icon {
      width: 22px;
      height: 1px;
      margin: 15px 10px; }
      .menu-icon-container span.menu-icon::before, .menu-icon-container span.menu-icon::after {
        top: 5px;
        width: 22px;
        height: 1px; }
      .menu-icon-container span.menu-icon::after {
        top: 10px; }
  header .logo-container {
    top: 23px;
    left: 15px;
    z-index: 5;
    transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1); }
    header .logo-container.change {
      transform: translateY(-140%); }
      header .logo-container.change svg {
        fill: white; }
    header .logo-container svg {
      width: 90px;
      height: 34px; }
  .navigation-container {
    width: 100%;
    transform: translateX(100%); }
    .navigation-container nav ul {
      width: 100%;
      padding-left: 15px; } }

.image-overlay, .main-overlay, .image-gradient-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

.main-overlay {
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1); }

.image-gradient-overlay {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9)); }

.section {
  margin: 80px 0; }

.image-container {
  height: 500px;
  overflow: hidden;
  position: relative; }
  .image-container .image-container-content {
    position: absolute;
    bottom: 70px;
    width: 100%; }
    .image-container .image-container-content p, .image-container .image-container-content h3 {
      text-align: left; }

@media only screen and (max-width: 767px) {
  .section {
    margin: 35px 0; } }

.user-area-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  background-color: white;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
  transition-delay: 0.2s;
  z-index: 4; }
  .user-area-container.active {
    transform: translateX(0);
    transition-delay: 0s; }
  .user-area-container .user-area-content {
    padding: 15px;
    padding-top: 60px; }
    .user-area-container .user-area-content .user-area-header h3 {
      font-size: 2.8rem;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      margin-bottom: 5px;
      color: #7f71cd; }
      .user-area-container .user-area-content .user-area-header h3:last-of-type {
        font-size: 2rem;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        margin-top: 0; }
    .user-area-container .user-area-content .user-area-body {
      margin-top: 40px; }
      .user-area-container .user-area-content .user-area-body span {
        color: #7f71cd;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 1.1rem; }
      .user-area-container .user-area-content .user-area-body p {
        color: #545454;
        font-size: 1rem; }
  .user-area-container .user-area-footer {
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px; }
    .user-area-container .user-area-footer a {
      display: block; }

.main-link-block {
  margin-bottom: 25px; }
  .main-link-block:hover .link-block-wrap .link-block-image {
    transform: scale(1.04); }
  .main-link-block:hover .link-block-content {
    transform: translateY(-30px); }
  .main-link-block:hover .read-more {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s; }
  .main-link-block .link-block-wrap {
    overflow: hidden;
    height: 350px;
    width: 100%;
    position: relative; }
    .main-link-block .link-block-wrap .link-block-image {
      height: 100%;
      transform: scale(1);
      transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1); }
    .main-link-block .link-block-wrap.speaker-size {
      height: 250px; }
  .main-link-block .link-block-content {
    position: absolute;
    bottom: 20px;
    left: 40px;
    right: 40px;
    transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1); }
    .main-link-block .link-block-content h3 {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 1.5rem; }
    .main-link-block .link-block-content p {
      color: white;
      margin: 0; }
  .main-link-block .read-more {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    position: absolute;
    bottom: 20px;
    left: 40px;
    opacity: 0;
    transform: translateX(-10px);
    transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
    transition-delay: 0; }

@media only screen and (max-width: 767px) {
  .main-link-block {
    margin-bottom: 15px; }
    .main-link-block .link-block-wrap {
      height: 150px; } }

.logo-wrapper-animation {
  position: relative; }

#logo-stroke {
  position: absolute;
  top: 0;
  left: 0%; }

.st0 {
  fill: none;
  stroke: white;
  stroke-miterlimit: 10; }

.ytIVWeCt_0 {
  stroke-dasharray: 180 182;
  stroke-dashoffset: 181;
  animation: ytIVWeCt_draw 1500ms ease 0ms forwards;
  animation-delay: 1000ms; }

.ytIVWeCt_1 {
  stroke-dasharray: 6043 6045;
  stroke-dashoffset: 6044;
  animation: ytIVWeCt_draw 1800ms ease 0ms forwards, fill 2s;
  animation-delay: 1000ms; }

@keyframes ytIVWeCt_draw {
  100% {
    stroke-dashoffset: 0; } }

@keyframes ytIVWeCt_fade {
  0% {
    stroke-opacity: 1; }
  93.33333333333333% {
    stroke-opacity: 1; }
  100% {
    stroke-opacity: 0; } }

#logo-fill {
  position: absolute;
  top: 0;
  left: 0; }

#logo-fill path {
  fill: none;
  animation: fill_logo 2500ms forwards;
  animation-delay: 2500ms; }

@keyframes fill_logo {
  0% {
    fill: transparent; }
  100% {
    fill: white; } }

.speaker-size .link-block-content {
  left: 10px;
  right: 10px; }
  .speaker-size .link-block-content p, .speaker-size .link-block-content h3 {
    text-align: left; }

.speaker-size .read-more {
  font-size: 0.95rem;
  left: 10px;
  right: 10px; }

.program-header {
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #545454;
  margin-bottom: 15px; }

.program-header a {
  display: block;
  width: 100%;
  color: #ff4053;
  font-size: 3rem;
  font-weight: 700; }

.program-header a:after {
  content: '×';
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 90%;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg);
  transition: 0.25s all ease; }

.program-header a[aria-expanded^="false"]:after {
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg); }

.program-header a[aria-expanded^="true"]:after {
  -webkit-transform: translateY(-50%) rotate(0deg);
  transform: translateY(-50%) rotate(0deg); }

.item .container-fluid .row:first-of-type p {
  font-weight: 700;
  font-size: 16px; }

.item .container-fluid .row:nth-child(even) {
  background-color: #fcfbe6; }

.item .container-fluid .row div:first-of-type p {
  font-weight: 700;
  font-size: 16px; }

.award-item {
  border: solid 1px;
  height: auto;
  background-color: white;
  margin-bottom: 40px; }
  .award-item:hover {
    border-color: #39D18C; }
  .award-item .main-link-block .link-block-wrap {
    height: 200px; }

.effect7 {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }

.effect7:before, .effect7:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; }

.effect7:after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
  opacity: 0;
  transition: opacity 0.3s ease-in-out; }

.effect7:hover:before, .effect7:hover:after {
  opacity: 1; }

.award-text {
  padding: 10px; }
  .award-text p {
    font-size: 15px; }

.vote-btn {
  background-color: #9C9C9C; }
  .vote-btn input[type="radio"] {
    display: none; }
  .vote-btn input[type="radio"]:checked + label {
    background-color: #39D18C;
    transition: background-color 500ms linear; }
  .vote-btn label {
    width: 100%;
    padding: 10px 0;
    margin: 0;
    color: white; }

