/*@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('/Content/Fonts/Montserrat-ExtraLight.otf') format('opentype'),url('/Content/Fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Montserrat-ExtraLight.woff') format('woff'), url('/Content/Fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName') format('svg');
}*/
html {
  font-size: 16px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

h1, h2, h3, h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.2;
  text-align: center; }

h1 {
  color: white;
  font-size: 3.5rem; }

h2 {
  font-size: 3rem;
  color: #ff4053;
  margin-bottom: 20px; }

h3 {
  font-size: 2.5rem; }

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 20px;
  text-align: center; }
  p img {
    width: 100%;
    margin: 30px 0; }

a {
  color: white;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  a:hover, a:active, a:focus {
    text-decoration: none;
    color: white; }

hr {
  border-top: 1px solid #9C9C9C; }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.main-wrapper {
  position: relative;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 0.2s; }
  .main-wrapper.active {
    transform: translateX(-200px); }
    .main-wrapper.active .main-overlay {
      visibility: visible;
      opacity: 1; }

.white-format h3, .white-format p {
  color: white; }

.custom-ul ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }
  .custom-ul ul li {
    padding: 4px 0; }
    .custom-ul ul li:before {
      content: '';
      background-image: url("/Content/Img/Icons/icon.svg");
      width: 11px;
      height: 12px;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle; }

@media only screen and (max-width: 767px) {
  html {
    font-size: 13px; }
  h1 {
    font-size: 30px; }
  .main-wrapper {
    transition-delay: 0.1s; }
  hr {
    margin-top: 18px;
    margin-bottom: 10px; } }

/*@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('/Content/Fonts/Montserrat-ExtraLight.otf') format('opentype'),url('/Content/Fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Montserrat-ExtraLight.woff') format('woff'), url('/Content/Fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName') format('svg');
}*/
.container-fluid {
  padding: 0; }

/*@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('/Content/Fonts/Montserrat-ExtraLight.otf') format('opentype'),url('/Content/Fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Montserrat-ExtraLight.woff') format('woff'), url('/Content/Fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName') format('svg');
}*/
a.main-link, button.main-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  width: 100%;
  background-color: white;
  border-radius: 3px;
  display: inline-block;
  padding: 12px 0;
  color: black;
  border: 1px solid #545454;
  text-align: center;
  margin-bottom: 15px; }
  a.main-link.green-btn, button.main-link.green-btn {
    background-color: #39D18C;
    color: white;
    border: 1px solid #39D18C; }

/*@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('/Content/Fonts/Montserrat-ExtraLight.otf') format('opentype'),url('/Content/Fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Montserrat-ExtraLight.woff') format('woff'), url('/Content/Fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName') format('svg');
}*/
.main-banner {
  position: relative;
  height: 60vh; }
  .main-banner.frontpage-banner {
    height: 80vh; }
    .main-banner.frontpage-banner .banner-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      .main-banner.frontpage-banner .banner-content svg {
        width: 450px;
        height: 318px; }
      .main-banner.frontpage-banner .banner-content .banner-links {
        margin: 0 50px; }
        .main-banner.frontpage-banner .banner-content .banner-links a {
          margin-bottom: 15px; }
  .main-banner .banner-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; }

@media only screen and (max-width: 767px) {
  .main-banner {
    height: 40vh; }
    .main-banner.frontpage-banner {
      height: 100vh; }
      .main-banner.frontpage-banner .banner-content svg {
        width: 270px;
        height: 190px; }
    .main-banner .banner-content {
      bottom: 20px;
      top: auto;
      left: 15px;
      transform: none; } }

/*@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('/Content/Fonts/Montserrat-ExtraLight.otf') format('opentype'),url('/Content/Fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Montserrat-ExtraLight.woff') format('woff'), url('/Content/Fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName') format('svg');
}*/
footer {
  background-color: #545454;
  padding: 25px 0; }
  footer p {
    color: white;
    font-size: 0.7rem;
    line-height: 1.5;
    margin: 0;
    text-align: left; }
  footer span, footer ul {
    display: inline-block; }
  footer span {
    color: #9C9C9C;
    font-size: 0.7rem; }
  footer ul li {
    display: inline-block;
    margin: 0 5px; }
    footer ul li a {
      color: #9C9C9C;
      font-size: 0.7rem; }

@media only screen and (max-width: 767px) {
  footer {
    padding: 18px 0; }
    footer ul {
      margin: 0; }
      footer ul li {
        display: inline-block;
        margin: 0 5px; }
        footer ul li a {
          font-size: 0.8rem; } }

/*@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('/Content/Fonts/Montserrat-ExtraLight.otf') format('opentype'),url('/Content/Fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Montserrat-ExtraLight.woff') format('woff'), url('/Content/Fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName') format('svg');
}*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  z-index: 5; }

.menu-icon-container {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
  width: 54px;
  height: 54px;
  z-index: 5;
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.15);
  background-color: #7f71cd;
  border-radius: 50%;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
  .menu-icon-container:hover {
    transform: scale(1.08); }
  .menu-icon-container.active {
    background-color: white; }
    .menu-icon-container.active span.menu-icon {
      transform: rotate(45deg) translate(6px, 6px);
      background-color: #7f71cd; }
      .menu-icon-container.active span.menu-icon::before {
        opacity: 0; }
      .menu-icon-container.active span.menu-icon::after {
        transform: rotate(-90deg) translate(14px, 0px);
        background-color: #7f71cd; }
  .menu-icon-container span {
    padding: 15px 0;
    display: inline-block; }
    .menu-icon-container span.menu-icon {
      position: absolute;
      top: 0;
      background-color: white;
      width: 30px;
      height: 2px;
      padding: 0;
      transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      margin: 19px 12px; }
      .menu-icon-container span.menu-icon::before, .menu-icon-container span.menu-icon::after {
        content: '';
        position: absolute;
        top: 7px;
        background-color: white;
        width: 30px;
        height: 2px;
        transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      .menu-icon-container span.menu-icon::after {
        top: 14px; }

.navigation-container {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 400px;
  background-color: #7f71cd;
  transform: translateX(100%);
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition-delay: 0.2s; }
  .navigation-container.active {
    transform: translateX(0);
    transition-delay: 0s; }
    .navigation-container.active nav ul li {
      transform: translateX(0);
      opacity: 1; }
  .navigation-container nav {
    position: relative;
    height: 100%;
    width: 100%; }
    .navigation-container nav ul {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      text-align: left; }
      .navigation-container nav ul li {
        transform: translateX(-10px);
        opacity: 0;
        transition-delay: 0.5s;
        transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
        .navigation-container nav ul li.active a {
          text-decoration: underline; }
        .navigation-container nav ul li a {
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          color: white;
          font-size: 1.1rem;
          display: block;
          margin: 15px 0;
          transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
          .navigation-container nav ul li a::before {
            content: '';
            display: inline-block;
            height: 2px;
            width: 0;
            background-color: white;
            transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            margin-right: 5px;
            vertical-align: middle; }
          .navigation-container nav ul li a:hover::before {
            width: 15px; }

@media only screen and (max-width: 767px) {
  .menu-icon-container {
    top: 15px;
    right: 15px;
    width: 39.6px;
    height: 39.6px; }
    .menu-icon-container:hover {
      transform: scale(1); }
    .menu-icon-container.active span.menu-icon {
      transform: rotate(45deg) translate(3px, 4px); }
      .menu-icon-container.active span.menu-icon::after {
        transform: rotate(-90deg) translate(11px, 0px); }
    .menu-icon-container span.menu-icon {
      width: 22px;
      height: 1px;
      margin: 15px 10px; }
      .menu-icon-container span.menu-icon::before, .menu-icon-container span.menu-icon::after {
        top: 5px;
        width: 22px;
        height: 1px; }
      .menu-icon-container span.menu-icon::after {
        top: 10px; }
  .navigation-container {
    width: 100%;
    transform: translateX(100%); }
    .navigation-container nav ul {
      width: 100%;
      padding-left: 15px; } }

/*@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('/Content/Fonts/Montserrat-ExtraLight.otf') format('opentype'),url('/Content/Fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Montserrat-ExtraLight.woff') format('woff'), url('/Content/Fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName') format('svg');
}*/
.image-overlay, .main-overlay, .image-gradient-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

.main-overlay {
  z-index: 15;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.image-gradient-overlay {
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9)); }

/*@font-face {
    font-family: 'Montserrat-ExtraLight';
    src: url('/Content/Fonts/Montserrat-ExtraLight.otf') format('opentype'),url('/Content/Fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'), url('/Content/Fonts/Montserrat-ExtraLight.woff') format('woff'), url('/Content/Fonts/Montserrat-ExtraLight.ttf') format('truetype'), url('/Content/Fonts/Montserrat-ExtraLight.svg#svgFontName') format('svg');
}*/
.section {
  margin: 80px 0; }

.image-container {
  height: 500px;
  overflow: hidden;
  position: relative; }
  .image-container .image-container-content {
    position: absolute;
    bottom: 70px;
    width: 100%; }
    .image-container .image-container-content p, .image-container .image-container-content h3 {
      text-align: left; }

@media only screen and (max-width: 767px) {
  .ection {
    margin: 30px 0; } }

