

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
         <p>Codegarden is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices.</p>
        </div>
        <div class="col-xs-12">
            <hr />
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <span>&copy; @DateTime.Now.Year Umbraco</span>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Disclaimer</a>
                        </li>
                        <li>
                            <a href="#">Privacy</a>
                        </li>
                    </ul>
                </div>
              
            </div>
        </div>
    </div>
</div>
