@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var selection = Model.Content.Site().FirstChild("themespage").Children("blockListItem")
                        .Where(x => x.IsVisible()).Take(3);

}
<div class="row themes">
    @foreach (var item in selection)
    {

        <div class="col-sm-4 col-xs-12 main-link-block">
            <div class="link-block-wrap" data-link-block>
                <div class="link-block-image cover" style="background-image: url('@Umbraco.Media(item.GetPropertyValue("linkBlockImage").ToString()).UmbracoFile')">
                    <div class="image-gradient-overlay">
                    </div>

                </div>
                <div class="toggle-content">
                    <div class="link-block-content">
                        <h3>@item.GetPropertyValue("linkBlockHeadline")</h3>
                    </div>
                    <div class="read-more">Read more</div>
                </div>
                <div class="link-block-behind">
                    <h3>@item.GetPropertyValue("linkBlockHeadline")</h3>
                    <p>@item.GetPropertyValue("linkBlockBodytext")</p>
                </div>
            </div>
        </div>

    }
</div>

