
@*@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var selection = Umbraco.TypedContent(1131).Children("blockListItem");
}
<div class="row">
    <div class="speaker-container">
        <div class="swiper-container" data-swiper-secondary>
            <div class="swiper-wrapper">
                @foreach (var item in selection)
                {
                    <div class="swiper-slide main-link-block">
                        <a href="@item.Url">
                            <div class="link-block-wrap speaker-size">

                                <div style="background-image: url('@(item.HasValue("linkBlockImage") ?
                        Umbraco.Media(item.GetPropertyValue("linkBlockImage").ToString()).UmbracoFile : "" )')"
                                     class="link-block-image cover">
                                    <div class="image-gradient-overlay"></div>
                                </div>

                                <div class="link-block-content">
                                    <h3>@item.GetPropertyValue("linkBlockHeadline")</h3>
                                </div>
                                <div class="read-more">Read more</div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>*@

