@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var selection = Umbraco.TypedContent(1094).Children("speakerItem");
}
<div class="speaker-container">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var item in selection)
            {
                <div class="swiper-slide main-link-block">
                    <a href="@item.Url">
                        <div id="speaker-size" class="link-block-wrap">
                            <div style="background-image: url('@Umbraco.Media(item.GetPropertyValue("contentImage").ToString()).UmbracoFile')" class="link-block-image cover">
                                <div class="image-gradient-overlay"></div>
                                <div class="link-block-content">
                                    <h3>@item.GetPropertyValue("headline")</h3>
                                </div>
                                <div class="read-more">@item.GetPropertyValue("subHeadline")</div>
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
        <br/>
        
    </div>
</div>