<div class="logo-wrapper-animation">
    <svg version="1.1" id="logo-stroke" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 900 326.6" style="" xml:space="preserve">

<g id="Layer_2_1_">
    <g>
    <g>
    <g>
    <path class="st0 ytIVWeCt_0" d="M871.4,210c-15.8,0-28.6,12.8-28.6,28.6s12.8,28.6,28.6,28.6c15.8,0,28.6-12.8,28.6-28.6v0
					C900,222.8,887.2,210,871.4,210C871.4,210,871.4,210,871.4,210z"></path>
    <path class="st0 ytIVWeCt_1" d="M789.5,65.4c-28.7,0.1-51.9,23.3-52,52v12.3c-8.2-5.1-17.7-7.8-27.4-7.8c-17.3-0.1-33.6,8.6-43.1,23.1V28.4
					c0-6.8-5.5-12.3-12.3-12.3c-6.8,0-12.3,5.5-12.3,12.3c0,0,0,0,0,0v86.8c-8.2-5.1-17.7-7.8-27.4-7.8h-2.8
					c-5.4-28.2-32.7-46.7-60.9-41.2c-22.6,4.3-39.6,23-41.9,45.8c-20.6-13-47.5-9.9-64.6,7.4c-4.8,4.8-4.8,12.6,0,17.4
					c4.8,4.8,12.6,4.8,17.4,0c10.6-10.8,27.9-11,38.6-0.4c4.9,4.8,7.8,11.3,8.2,18.1c-24.5-15.1-56.5-7.6-71.7,16.9
					c-1.7,2.7-3.1,5.5-4.2,8.4v-47.9c-0.1-28.7-23.5-51.9-52.2-51.8c-28.7,0.1-51.9,23.5-51.8,52.2l0,0
					c-22.9-17.3-55.6-12.8-72.9,10.2c-3.8,5-6.6,10.7-8.4,16.7V67.8c0-6.8-5.5-12.3-12.3-12.3s-12.3,5.5-12.3,12.3v86.8
					c-8.2-5.1-17.7-7.8-27.4-7.8c-8.3,0-16.6,2-24,5.8c17.9-22.4,14.3-55.1-8.1-73.1s-55.1-14.3-73.1,8.1
					c-7.4,9.2-11.4,20.7-11.4,32.5l0,0v78.6c0,15.1-12.3,27.4-27.4,27.4s-27.4-12.3-27.4-27.4V52c0-15.1,12.3-27.4,27.4-27.4
					S79.2,36.9,79.2,52c0,6.8,5.5,12.3,12.3,12.3c6.8,0,12.3-5.5,12.3-12.3c0-28.7-23.2-51.9-51.9-51.9S0,23.3,0,52v146.8
					c0,28.7,23.3,52,52,52s52-23.3,52-52v-34.5c8.2,5.1,17.7,7.8,27.4,7.8c8.3,0,16.6-2,24-5.8c-18,22.4-14.4,55.1,8,73.1
					s55.1,14.4,73.1-8c5.2-6.4,8.7-14,10.4-22.1c5,24.1,26.3,41.4,50.9,41.5c13.9,0,27.2-5.5,36.9-15.4c4.8-4.8,4.8-12.6,0-17.4
					c-4.8-4.8-12.6-4.8-17.4,0c-10.6,10.8-27.8,10.9-38.6,0.4c-5.3-5.2-8.2-12.2-8.2-19.6v-0.5h67.1c6.8,0,12.3-5.5,12.3-12.3
					c0,0,0,0,0,0v-10.5c9,6.8,19.9,10.5,31.2,10.5c9.7,0,19.2-2.7,27.4-7.8v96.4c0,15.1-12.3,27.4-27.4,27.4
					c-15.1,0-27.4-12.3-27.4-27.4c0,0,0,0,0,0c0-6.8-5.5-12.3-12.3-12.3c-6.8,0-12.3,5.5-12.3,12.3c0,28.7,23.3,52,52,52
					s52-23.3,52-52v-57.1c10.4,26.8,40.5,40.1,67.3,29.7c20.1-7.8,33.3-27.1,33.2-48.6v-81.5c0-15.1,12.2-27.4,27.3-27.4
					c14.1,0,25.8,10.6,27.3,24.6c-24.7,14.7-32.8,46.5-18.1,71.2c9.4,15.8,26.4,25.4,44.7,25.4c17.3,0.1,33.6-8.6,43.1-23.1v10.5
					c0.1,28.7,23.3,51.9,52,52c13.9,0,27.2-5.5,36.9-15.4c4.8-4.8,4.8-12.6,0-17.4s-12.6-4.8-17.4,0c-10.6,10.8-27.8,10.9-38.6,0.4
					c-5.3-5.2-8.2-12.2-8.2-19.6H750c6.8,0,12.3-5.5,12.3-12.3c0,0,0,0,0,0v-68.8c0-15.1,12.3-27.4,27.4-27.4
					c15.1,0,27.4,12.3,27.4,27.4c0,0,0,0,0,0v81.7c0,6.8,5.5,12.3,12.3,12.3c6.8,0,12.3-5.5,12.3-12.3v-81.7
					C841.4,88.6,818.1,65.5,789.5,65.4z M131.4,147.5c-15.1,0-27.4-12.3-27.4-27.4c0-15.1,12.3-27.4,27.4-27.4
					c15.1,0,27.4,12.3,27.4,27.4l0,0C158.8,135.2,146.5,147.5,131.4,147.5z M196,226.2c-15.1,0-27.4-12.3-27.4-27.4
					s12.3-27.4,27.4-27.4c15.1,0,27.4,12.3,27.4,27.4c0,0,0,0,0,0C223.4,213.9,211.1,226.2,196,226.2z M270.5,173.8
					c0-15.1,12.3-27.4,27.4-27.4c15.1,0,27.4,12.3,27.4,27.4H270.5z M381.1,161.5c-15.1,0-27.4-12.3-27.4-27.4s12.3-27.4,27.4-27.4
					c15.1,0,27.4,12.3,27.4,27.4c0,0,0,0,0,0C408.5,149.2,396.2,161.5,381.1,161.5L381.1,161.5z M481.6,226.2
					c-15.1,0-27.4-12.3-27.4-27.4s12.3-27.4,27.4-27.4s27.4,12.3,27.4,27.4c0,0,0,0,0,0C509,213.9,496.7,226.2,481.6,226.2
					L481.6,226.2z M614.9,186.8c-15.1,0-27.4-12.3-27.4-27.4s12.3-27.4,27.4-27.4c15.1,0,27.4,12.3,27.4,27.4
					C642.3,174.5,630,186.8,614.9,186.8L614.9,186.8z M682.7,173.8c0-15.1,12.3-27.4,27.4-27.4c15.1,0,27.4,12.3,27.4,27.4H682.7z"></path>
			</g>
		</g>
	</g>
</g>
</svg>

    <svg version="1.1" id="logo-fill" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 900 326.6" style="" xml:space="preserve">

<g id="Layer_2_2_">
    <g>
    <g>
    <g>
    <path class="" d="M871.4,210c-15.8,0-28.6,12.8-28.6,28.6s12.8,28.6,28.6,28.6c15.8,0,28.6-12.8,28.6-28.6v0
					C900,222.8,887.2,210,871.4,210C871.4,210,871.4,210,871.4,210z"></path>
    <path class="" d="M789.5,65.4c-28.7,0.1-51.9,23.3-52,52v12.3c-8.2-5.1-17.7-7.8-27.4-7.8c-17.3-0.1-33.6,8.6-43.1,23.1V28.4
					c0-6.8-5.5-12.3-12.3-12.3c-6.8,0-12.3,5.5-12.3,12.3c0,0,0,0,0,0v86.8c-8.2-5.1-17.7-7.8-27.4-7.8h-2.8
					c-5.4-28.2-32.7-46.7-60.9-41.2c-22.6,4.3-39.6,23-41.9,45.8c-20.6-13-47.5-9.9-64.6,7.4c-4.8,4.8-4.8,12.6,0,17.4
					c4.8,4.8,12.6,4.8,17.4,0c10.6-10.8,27.9-11,38.6-0.4c4.9,4.8,7.8,11.3,8.2,18.1c-24.5-15.1-56.5-7.6-71.7,16.9
					c-1.7,2.7-3.1,5.5-4.2,8.4v-47.9c-0.1-28.7-23.5-51.9-52.2-51.8c-28.7,0.1-51.9,23.5-51.8,52.2l0,0
					c-22.9-17.3-55.6-12.8-72.9,10.2c-3.8,5-6.6,10.7-8.4,16.7V67.8c0-6.8-5.5-12.3-12.3-12.3s-12.3,5.5-12.3,12.3v86.8
					c-8.2-5.1-17.7-7.8-27.4-7.8c-8.3,0-16.6,2-24,5.8c17.9-22.4,14.3-55.1-8.1-73.1s-55.1-14.3-73.1,8.1
					c-7.4,9.2-11.4,20.7-11.4,32.5l0,0v78.6c0,15.1-12.3,27.4-27.4,27.4s-27.4-12.3-27.4-27.4V52c0-15.1,12.3-27.4,27.4-27.4
					S79.2,36.9,79.2,52c0,6.8,5.5,12.3,12.3,12.3c6.8,0,12.3-5.5,12.3-12.3c0-28.7-23.2-51.9-51.9-51.9S0,23.3,0,52v146.8
					c0,28.7,23.3,52,52,52s52-23.3,52-52v-34.5c8.2,5.1,17.7,7.8,27.4,7.8c8.3,0,16.6-2,24-5.8c-18,22.4-14.4,55.1,8,73.1
					s55.1,14.4,73.1-8c5.2-6.4,8.7-14,10.4-22.1c5,24.1,26.3,41.4,50.9,41.5c13.9,0,27.2-5.5,36.9-15.4c4.8-4.8,4.8-12.6,0-17.4
					c-4.8-4.8-12.6-4.8-17.4,0c-10.6,10.8-27.8,10.9-38.6,0.4c-5.3-5.2-8.2-12.2-8.2-19.6v-0.5h67.1c6.8,0,12.3-5.5,12.3-12.3
					c0,0,0,0,0,0v-10.5c9,6.8,19.9,10.5,31.2,10.5c9.7,0,19.2-2.7,27.4-7.8v96.4c0,15.1-12.3,27.4-27.4,27.4
					c-15.1,0-27.4-12.3-27.4-27.4c0,0,0,0,0,0c0-6.8-5.5-12.3-12.3-12.3c-6.8,0-12.3,5.5-12.3,12.3c0,28.7,23.3,52,52,52
					s52-23.3,52-52v-57.1c10.4,26.8,40.5,40.1,67.3,29.7c20.1-7.8,33.3-27.1,33.2-48.6v-81.5c0-15.1,12.2-27.4,27.3-27.4
					c14.1,0,25.8,10.6,27.3,24.6c-24.7,14.7-32.8,46.5-18.1,71.2c9.4,15.8,26.4,25.4,44.7,25.4c17.3,0.1,33.6-8.6,43.1-23.1v10.5
					c0.1,28.7,23.3,51.9,52,52c13.9,0,27.2-5.5,36.9-15.4c4.8-4.8,4.8-12.6,0-17.4s-12.6-4.8-17.4,0c-10.6,10.8-27.8,10.9-38.6,0.4
					c-5.3-5.2-8.2-12.2-8.2-19.6H750c6.8,0,12.3-5.5,12.3-12.3c0,0,0,0,0,0v-68.8c0-15.1,12.3-27.4,27.4-27.4
					c15.1,0,27.4,12.3,27.4,27.4c0,0,0,0,0,0v81.7c0,6.8,5.5,12.3,12.3,12.3c6.8,0,12.3-5.5,12.3-12.3v-81.7
					C841.4,88.6,818.1,65.5,789.5,65.4z M131.4,147.5c-15.1,0-27.4-12.3-27.4-27.4c0-15.1,12.3-27.4,27.4-27.4
					c15.1,0,27.4,12.3,27.4,27.4l0,0C158.8,135.2,146.5,147.5,131.4,147.5z M196,226.2c-15.1,0-27.4-12.3-27.4-27.4
					s12.3-27.4,27.4-27.4c15.1,0,27.4,12.3,27.4,27.4c0,0,0,0,0,0C223.4,213.9,211.1,226.2,196,226.2z M270.5,173.8
					c0-15.1,12.3-27.4,27.4-27.4c15.1,0,27.4,12.3,27.4,27.4H270.5z M381.1,161.5c-15.1,0-27.4-12.3-27.4-27.4s12.3-27.4,27.4-27.4
					c15.1,0,27.4,12.3,27.4,27.4c0,0,0,0,0,0C408.5,149.2,396.2,161.5,381.1,161.5L381.1,161.5z M481.6,226.2
					c-15.1,0-27.4-12.3-27.4-27.4s12.3-27.4,27.4-27.4s27.4,12.3,27.4,27.4c0,0,0,0,0,0C509,213.9,496.7,226.2,481.6,226.2
					L481.6,226.2z M614.9,186.8c-15.1,0-27.4-12.3-27.4-27.4s12.3-27.4,27.4-27.4c15.1,0,27.4,12.3,27.4,27.4
					C642.3,174.5,630,186.8,614.9,186.8L614.9,186.8z M682.7,173.8c0-15.1,12.3-27.4,27.4-27.4c15.1,0,27.4,12.3,27.4,27.4H682.7z"></path>
			</g>
		</g>
	</g>
</g>
</svg>
</div>