
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Discoverpage>
@using ContentModels = Umbraco.Web.PublishedContentModels;


<div class="container-fluid white-format">
    <div class="image-container" style="background-image: url('@Model.Content.LookingBackImage.Url')">
        <div class="image-gradient-overlay"></div>
        <div class="container">
            <div class="image-container-content">
                <div class="row">
                    <div class="col-md-6">
                        <h3>@Model.Content.LookingBackBodytext</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
         <div class="col-md-8 col-md-push-2 col-xs-12">
            <div class="hashtag-section">
                <span>""</span>
                <p>@Model.Content.LookingBackHashtag</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h5>images</h5>
        </div>
    </div>
</div>