@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Activities.Statements
@inherits Umbraco.Web.Mvc.UmbracoViewPage<SpeakerItem>
    

@{
    var programItemList = Model.Site().FirstChild<ProgramPage>().Children<ProgramItem>();

}

    <h4>SPEAKERS PROGRAM</h4>
    
        @foreach (var program in programItemList.Where(x => x.Speakers.Any(y => y.GetPropertyValue("Headline") == Model.Headline)))
        {
           <p> @program.Title                      </p>
           <p> <strong>@program.Location</strong>   </p>
           <p> @program.StartTime.ToString("f")    </p>
        }
    
