<div class="hidden">
    <!--
        <svg xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#icon-id" />
    </svg>
    http://petercollingridge.appspot.com/svg-optimiser
    #name-icon
    -->
    <svg xmlns="http://www.w3.org/2000/svg" id="logo-svg" viewBox="0 0 595.3 419.5">
        <style type="text/css">
            .st0 {
                fill: #fff;
            }
        </style>
        <path class="st0" d="M575.6 259c-0.8 0-1.4 0.2-1.9 0.7 -0.5 0.5-0.7 1.1-0.7 1.8s0.2 1.3 0.7 1.8c0.5 0.5 1.1 0.7 1.9 0.7 0.8 0 1.4-0.2 1.9-0.7 0.5-0.5 0.7-1.1 0.7-1.8s-0.2-1.3-0.7-1.8C576.9 259.3 576.3 259 575.6 259z" />
        <path class="st0" d="M570.3 240.5c-10.3 0-18.6 8.3-18.6 18.6s8.3 18.6 18.6 18.6c10.3 0 18.6-8.3 18.6-18.6S580.6 240.5 570.3 240.5zM567.5 267h-3.3v-12.3l-3.2 2.8 -1.9-2.2 5.3-4.4h3.2V267zM581.1 264c-0.3 0.7-0.7 1.3-1.3 1.7 -0.5 0.5-1.2 0.9-1.9 1.1 -0.7 0.3-1.5 0.4-2.4 0.4 -0.8 0-1.6-0.1-2.4-0.4 -0.7-0.3-1.4-0.6-1.9-1.1 -0.5-0.5-1-1.1-1.3-1.7 -0.3-0.7-0.5-1.4-0.5-2.3 0-0.6 0.1-1.1 0.2-1.6 0.1-0.5 0.2-0.9 0.4-1.4 0.2-0.4 0.4-0.8 0.6-1.2 0.2-0.4 0.5-0.8 0.7-1.2l3.5-5.5h4.2l-3.8 5.8c0.2 0 0.4-0.1 0.5-0.1 0.2 0 0.4 0 0.6 0 0.8 0 1.4 0.1 2.1 0.4 0.6 0.3 1.2 0.6 1.6 1.1s0.8 1 1 1.7c0.2 0.6 0.4 1.3 0.4 2.1C581.6 262.5 581.4 263.3 581.1 264z" />
        <path class="st0" d="M517.1 146.5c-18.6 0-33.8 15.2-33.8 33.8v8c-5.2-3.2-11.3-5.1-17.8-5.1 -11.7 0-22 5.9-28 15v-75.7c0-4.4-3.6-8-8-8s-8 3.6-8 8v56.4c-5.2-3.2-11.3-5.1-17.8-5.1 -0.6 0-1.2 0-1.8 0 -3-15.5-16.8-27.3-33.2-27.3 -17.5 0-31.9 13.3-33.6 30.3 -5.2-3.3-11.4-5.2-18-5.2 -9.1 0-17.6 3.6-24 10 -3.1 3.1-3.1 8.2 0 11.3 3.1 3.1 8.2 3.1 11.3 0 3.4-3.4 7.9-5.3 12.6-5.3 9.5 0 17.3 7.5 17.8 16.8 -5.2-3.2-11.2-5.1-17.8-5.1 -14.3 0-26.5 8.9-31.5 21.5v-30.4c0-0.2 0-0.5 0-0.7 -0.7-18-15.6-32.4-33.8-32.4 -18.3 0-33.2 14.5-33.8 32.7 -5.7-4.3-12.7-6.8-20.4-6.8 -15.3 0-28.3 10.3-32.4 24.3v-59.4c0-4.4-3.6-8-8-8s-8 3.6-8 8v56.4c-5.2-3.2-11.3-5.1-17.8-5.1 -5.6 0-10.9 1.4-15.6 3.8 4.6-5.8 7.4-13.1 7.4-21.1 0-18.6-15.2-33.8-33.8-33.8 -18.6 0-33.8 15.2-33.8 33.8 0 0 0 0 0 0v51.1c0 9.8-8 17.8-17.8 17.8 -9.8 0-17.8-8-17.8-17.8l0-95.4c0-9.8 8-17.8 17.8-17.8 9.8 0 17.8 8 17.8 17.8 0 4.4 3.6 8 8 8s8-3.6 8-8c0-18.6-15.2-33.8-33.8-33.8S4 119.2 4 137.8l0 95.4C4 251.9 19.2 267 37.8 267s33.8-15.2 33.8-33.8v-22.4c5.2 3.2 11.3 5.1 17.8 5.1 5.6 0 10.9-1.4 15.6-3.8 -4.6 5.8-7.4 13.1-7.4 21.1 0 18.6 15.2 33.8 33.8 33.8 16.3 0 30-11.6 33.1-27 3.2 15.4 16.8 27 33.1 27 9.1 0 17.6-3.6 24-10 3.1-3.1 3.1-8.2 0-11.3 -3.1-3.1-8.2-3.1-11.3 0 -3.4 3.4-7.9 5.3-12.6 5.3 -9.8 0-17.8-8-17.8-17.8 0-0.1 0-0.2 0-0.3h43.6c4.4 0 8-3.6 8-8v-6.8c5.7 4.3 12.7 6.8 20.3 6.8 6.5 0 12.6-1.9 17.8-5.1v61.9c0 0.1 0 0.3 0 0.4 0 0.1 0 0.3 0 0.4 0 9.8-8 17.8-17.8 17.8 -9.8 0-17.8-8-17.8-17.8 0-4.4-3.6-8-8-8s-8 3.6-8 8c0 18.6 15.2 33.8 33.8 33.8s33.8-15.2 33.8-33.8c0-0.1 0-0.3 0-0.4 0-0.1 0-0.3 0-0.4v-36.3c4.9 12.6 17.2 21.5 31.5 21.5 18.6 0 33.8-15.2 33.8-33.8 0-0.2 0-0.4 0-0.7 0-0.1 0-0.2 0-0.3l0-51.9c0-9.8 8-17.8 17.8-17.8 9.2 0 16.8 7 17.7 16 -9.9 5.9-16.5 16.7-16.5 29 0 18.6 15.2 33.8 33.8 33.8 11.7 0 22-5.9 28-15v6.8c0 18.6 15.2 33.8 33.8 33.8 9.1 0 17.6-3.6 24-10 3.1-3.1 3.1-8.2 0-11.3 -3.1-3.1-8.2-3.1-11.3 0 -3.4 3.4-7.9 5.3-12.6 5.3 -9.8 0-17.8-8-17.8-17.8V233h43.6c4.4 0 8-3.6 8-8V217c0-0.4 0-0.7 0-1.1 0-0.2 0-0.4 0-0.5v-35.1c0-9.8 8-17.8 17.8-17.8 9.8 0 17.8 8 17.8 17.8v53.1c0 4.4 3.6 8 8 8s8-3.6 8-8v-53.1C550.9 161.7 535.7 146.5 517.1 146.5zM89.4 199.9c-9.8 0-17.8-8-17.8-17.8s8-17.8 17.8-17.8c9.8 0 17.8 8 17.8 17.8S99.2 199.9 89.4 199.9zM131.4 251c-9.8 0-17.8-8-17.8-17.8 0-9.8 8-17.8 17.8-17.8 9.8 0 17.8 8 17.8 17.8C149.2 243.1 141.2 251 131.4 251zM179.8 217c0-9.8 8-17.7 17.8-17.7s17.8 8 17.8 17.7H179.8zM251.7 209c-9.8 0-17.8-8-17.8-17.8 0-9.8 8-17.8 17.8-17.8 9.8 0 17.8 8 17.8 17.8C269.5 201 261.6 209 251.7 209zM317 251c-9.8 0-17.8-8-17.8-17.8s8-17.8 17.8-17.8c9.8 0 17.8 8 17.8 17.8S326.8 251 317 251zM403.6 225.4c-9.8 0-17.8-8-17.8-17.8 0-9.8 8-17.8 17.8-17.8 9.8 0 17.8 8 17.8 17.8C421.4 217.4 413.4 225.4 403.6 225.4zM447.7 217c0-9.8 8-17.7 17.8-17.7s17.8 8 17.8 17.7H447.7z" />
        <circle class="st0" cx="570.3" cy="259" r="18.6" />
    </svg>

</div>