// Codegarden colors
$purple: #7f71cd;
$green: #39D18C;
$gray: #545454;
$light-gray: #9C9C9C;
$red: #ff4053;
// Layout
$header-height: 80px;


//transitions
$cubic: cubic-bezier(0.785,.135,.15,.86);
$transition: 0.4s $cubic;
$shadow: 0px 0px 62px 0px rgba(1, 1, 0, 0.1);

// Breakpoints
$extra-small: 767px;
$small: 768px;
$medium: 992px;
$tablet-horizontal: 1025px;
$large: 1200px;
$larger: 1366px;
$extra-large: 1600px;
