@import "../Helpers/Mixins";
@import "../Helpers/Vars";

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    @include font-regular;
}

h1, h2, h3, h4, h5 {
    @include font-bold;
    line-height: 1.2;

    &.white-format {
        color: white;
    }
}

h1 {
    color: white;
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
    color: $red;
    margin-bottom: 30px;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 1.5;
}

h5 {
    font-size: 1.75rem;
    color: $red;
    margin: 15px 0;
}

p {
    @include font-regular;
    line-height: 24px;
    margin: 0 0 20px;
    font-size: 1rem;

    img {
        width: 100%;
        margin: 30px 0;
    }
}
.larger-text {
    p {
        font-size: 1.1rem;
        line-height: 28px;
    }
}
a {
    color: white;
    transition: $transition;


    &:hover, &:active, &:focus {
        text-decoration: none;
        color: white;
    }
}

ul {
    li {
        a {
            color: black;
        }
    }
}

hr {
    border-top: 1px solid $light-gray;
}

.border-thin {
    border:solid 0.5px;
}

.cover {
    @include cover;
}

.frontpage-sections {
    h1, h2, h3, h4, p {
        text-align: center;
    }
}

.main-wrapper {
    position: relative;
    transition: $transition;
    transition-delay: 0.18s;

    &.active {
        transform: translateX(-$menu-width / 2);

        .main-overlay {
            visibility: visible;
            opacity: 1;
        }
    }
}

.vote-result {
    h3 {
        font-size: 1.1rem;
    }

    span {
        display: block;
    }
}

.hashtag-section {
    margin: 25px 0;
    span {
        width: 100%;
        display: block;
        font-size: 2.2rem;
    }

    span, p {
        @include font-bold;
        color: black;
        font-size: 2rem;
    }
}

.white-format {
    h3, p {
        color: white;
    }
}

.custom-ul {
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        li {
            padding: 4px 0;

            &:before {
                content: '';
                background-image: url('/Content/Img/Icons/icon.svg');
                width: 11px;
                height: 12px;
                margin-right: 10px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}


@include phones {
    html {
        font-size: 13px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    .main-wrapper {
        transition-delay: 0.1s;
    }

    hr {
        margin-top: 18px;
        margin-bottom: 10px;
    }

    .frontpage-sections {
        h1, h2, h3, h4, p {
            text-align: left;
        }
    }

    .larger-text {
        p {
            line-height: 24px;
        }
    }
}

.img-full-width {
    width: 100%;
}
