@import "../Helpers/Mixins";
@import "../Helpers/Vars";
html{
    font-size: 16px;
}
body{
    margin:0;
    padding:0;
    @include font-regular;
}
h1, h2,h3,h4{
    @include font-bold;

}
h1{
    font-size: 3.5rem;
}
h2{
    font-size: 3rem;
    color: $red;
}

p{
    @include font-regular;
}
a{
    color: white;
    &:hover, &:active, &:focus{
        text-decoration: none;
        color: white;
    }
}
hr {
    border-top: 1px solid $light-gray;
}
.cover {
    @include cover;
}
.main-wrapper {
    position: relative;
    transition: $transition;
    transition-delay: 0.2s;

    &.active {
        transform: translateX(-$menu-width / 2);

        .main-overlay {
            visibility:visible;
            opacity: 1;
        }
    }
}